/*Fontes usadas no Figma */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Boas praticas*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fonte-poppins);
}

:root {
  --cor-principal: #0A113F;
  --cor-fundo-clara: #FFFAFA;
  --cor-destaque: #92FF00;
  --fonte-poppins: "Poppins", sans-serif;
  --fonte-montserrat: "Montserrat", sans-serif;
}

/* Inicio estilo header */
#cabecalho{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    background-color: var(--cor-principal);
}

#verde{
    color: #8AF101;
}

#logo{
    margin-left: 50px;
    width: 85px;
}

#title_logo{
    margin: 25px;

    font-size: 46px;
    color: whitesmoke;
    width: 30px;
    font-family: "Poppins", sans-serif;
}


#nav1, #nav2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#nav1 {
    position: relative;
    float: left;
    margin-left: 180px;

    & a{
        margin-right:20px;
        margin-left: 20px;
        color:#FFFAFA;
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;

    }
}

#nav2{
    position: relative;
    float: left;
    margin-left: 10%;
    padding-left: 0px; /*empurra o login e cadastro para a direita*/

    & a{
        color: #FFFAFA;
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;

    }
}

    
#login a {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 50px;
    padding: 7px 15px;
    color: #FFFAFA;
    background: transparent;
}

#cadastro a{
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 50px;
    padding: 7px 15px;
    color: var(--cor-principal);
    background: var(--cor-destaque);
}

/*Corpo do site*/

:root{
  --cor-principal: #0A113F;
  --cor-fundo-clara: #FFFAFA;
  --cor-destaque: #92FF00;
  --sombra-padrao: 5px 5px 15px #808080;
  --fonte-poppins: "Poppins", sans-serif;
  --fonte-montserrat: "Montserrat", sans-serif;
}



body{
    position: relative;
    color: #0A113F;
    font-family: "Poppins", sans-serif;
    text-align: left;
}
main{
    max-width: 1500px;
    min-width: 1051px;
    margin:auto;
}


/* Inicio estilo header */
#cabecalho{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    background-color: #0A113F;
}

#verde{
    color: #8AF101;
}

#logo{
    margin-left: 50px;
    width: 85px;
}

#title_logo{
    margin: 25px;
    font-size: 46px;
    color: whitesmoke;
    width: 30px;
    font-family: "Poppins", sans-serif;
}


#nav1, #nav2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#nav1 {
    position: relative;
    float: left;
    margin-left: 180px;

    & a{
        margin-right:20px;
        margin-left: 20px;
        color:#FFFAFA;
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;

    }
}

#nav2{
    position: relative;
    float: left;
    margin-left: 10%;
    padding-left: 0px; /*empurra o login e cadastro para a direita*/

    & a{
        color: #FFFAFA;
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;

    }
}

#login a {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 50px;
    padding: 7px 15px;
    color: #FFFAFA;
    background: transparent;
}

#cadastro a{
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 50px;
    padding: 7px 15px;
    color: var(--cor-principal);
    background: var(--cor-destaque);
}
/*Fim da HEADER*/





/* Área de texto e imagem da página quem nós somos*/
#bloco2{

    width: 100%;
    height: 700px;
    background-color: #1cb233;
    color: white;
    clear: left;
    padding-left: 90px ;
    padding-right: 90px;
    box-sizing: border-box;

}

#titulo{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 60px;
  clear: left;
}

#texto2{
    font-size: 25px;
    line-height: 1.5;
    clear: left;
}


#menino{
    position:relative;
    width: 750px;
    height:650px ;
    top: -600px;
    left: 900px;
}


/* Container que agrupa os 3 cartões */
#valores {
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  gap: 1.5rem;
  margin-top: 7%;
  
}


/* Estilo geral para os três cartões */
.missao, .visao, .valores {
    position: relative;
    width: 450px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 15px 20px 20px #808080;
    padding: 30px;
    box-sizing: border-box;
}

/* Estilo para os títulos */
.titulo {
    font-size: 30px;
    margin-top: -10px;
    margin-left: 120px;

}

/* Estilo para os parágrafos */
.mis {
    justify-content: 40px;
    margin-left: 120px;

}

/* Estilo para os ícones */
.flecha{
    width:100px ;
    height: 80px ;
    float: left;

}
.olho{
    width:100px ;
    height: 70px;
    float: left;

}

.maos {
    width: 90px;
    height: 80px;
    float: left;
}

/* Estilos específicos para as bordas coloridas */
.missao {
    border: 2px solid #92FF00;
}

.visao {
    border: 2px solid #FF11FF;
}

.valores {
    border: 2px solid #00FFFF;
}


/*Imagens e fundadores*/

#fundadores{
    position: relative;
    display: flex; /* Habilita o flexbox */
    flex-direction: row; /* Alinha os itens em linha */
    justify-content: center; /* Centraliza os itens na horizontal */
    align-items: center; /* Alinha os itens no centro */
    gap: 150px;
    text-align: center; /*alinha os textos no centro*/
    font-size: 30px;
    margin-bottom: 100px; /* Adiciona espaçamento abaixo de toda a seção */
}

h2{
    text-align: center;
    color: #0A113F;
    font-size: 35px;
    height: 100px;
    clear: left;
}



#fundadores2{
    position: relative;
    display: flex; /* Habilita o flexbox */
    flex-direction: row; /* Alinha os itens em linha */
    justify-content: center; /* Centraliza os itens na horizontal */
    align-items: center; /* Alinha os itens no centro */
    gap: 150px;
    text-align: center; /*alinha os textos no centro*/
    font-size: 30px;
    margin-bottom: 100px; /* Adiciona espaçamento abaixo de toda a seção */
}










/* Seção Footer Geral*/
.footer {
  background-color: #0B1340;
  color: white;
  padding: 40px 60px;
}

/* ----- Container Principal ----- */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ----- Cada coluna do footer ----- */
.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
  font-size: 30px;
}

/* ----- Logo ----- */
.logo {
    color: var(--cor-fundo-clara);
    display: flex;
    align-items: center;
    font-size: 35px;
    margin: 0;
}

.logo-img {
    height: 40px;
}

/* ----- Títulos das seções ----- */
.footer-title {
    margin: 15px 0 8px;
    font-weight: bold;
}

/* ----- Redes Sociais ----- */
.social-icons {
    display: flex;
    gap: 12px;
    font-size: 25px;
}

.social-icons a {
    color: white;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #70E000;
}

/* ----- Listas ----- */
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 6px 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #70E000;
}

/* ----- Parte de baixo ----- */
.footer-bottom {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.6;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #70E000;
}

.destaque3{
    color: #8AF101;
    font-weight: bold; /* deixa em negrito */
}
