/*Fontes usadas no Figma */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Boas praticas*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Corpo do site*/
body{
    background-color: #FFFAFA;
    font-family: "Poppins",sans-serif;
}

#cabecalho{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #0A113F;
}

#logo{
    position: relative;
    width: 250px;
    height: 120px;
    margin-top: -20px;
    margin-left: 5%;
    float: left;
}

#navegação_principal{
    position: relative;
    display: flex;
    width: 100%; /*alinhado de cima para baixo*/
}

#nav1, #nav2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#nav2{
    padding-left: 38%; /*empurra o login e cadastro para a direita*/
}

 #nav1 a, #nav2 a{
    position: relative;
    color: #FFFAFA;
    text-decoration: none;
    font-size: 16px;
    line-height: 80px;
}

#nav1 a {
    margin-right:50px;
    margin-left: -36px;
}
    
#login a {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 15px;
    color: #FFFAFA;
    background: transparent;
}

#cadastro a{
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 15px;
    color:#0A113F;
    background: #92FF00;
}

/* Área de texto e imagem da página quem nós somos*/
#bloco2{
    position: relative;
    width:100% ;
    height:580px ;
    background-color: #0A113F;
    color: #FFFAFA;
    padding: 80px 90px;
    clear: left;
}

#titulo{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 60px;
  clear: left;
}

#texto2{
    font-size: 25px;
    line-height: 1.5;
    clear: left;
}


#menino{
    position:relative;
    width: 800px;
    height:700px ;
    top: -600px;
    left: 670px;
}


/* Container que agrupa os 3 cartões */
#valores {
  margin: 50px auto;
  display: flex; /* Habilita o Flexbox */
  flex-direction: row; /* Alinha os itens em uma linha */
  justify-content: center; /* Centraliza os cartões horizontalmente */
  gap: 25px; /* Adiciona um espaço fixo entre os cartões */
  margin-bottom: 100px;
}

/* Container que agrupa os 3 cartões */
#valores {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-bottom: 100px;
}

/* Estilo geral para os três cartões */
.missao, .visao, .valores {
    position: relative;
    width: 450px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 15px 20px 20px #808080;
    padding: 30px;
    box-sizing: border-box;
}

/* Estilo para os títulos */
.titulo {
    font-size: 30px;
    margin-top: -10px;
    margin-left: 120px;

}

/* Estilo para os parágrafos */
.mis {
    justify-content: 40px;
    margin-left: 120px;

}

/* Estilo para os ícones */
.flecha{
    width:100px ;
    height: 80px ;
    float: left;

}
.olho{
    width:100px ;
    height: 70px;
    float: left;

}

.maos {
    width: 90px;
    height: 80px;
    float: left;
}

/* Estilos específicos para as bordas coloridas */
.missao {
    border: 2px solid #92FF00;
}

.visao {
    border: 2px solid #FF11FF;
}

.valores {
    border: 2px solid #00FFFF;
}


/*Imagens e fundadores*/

#fundadores{
    position: relative;
    display: flex; /* Habilita o flexbox */
    flex-direction: row; /* Alinha os itens em linha */
    justify-content: center; /* Centraliza os itens na horizontal */
    align-items: center; /* Alinha os itens no centro */
    gap: 150px;
    text-align: center; /*alinha os textos no centro*/
    font-size: 30px;
    margin-bottom: 100px; /* Adiciona espaçamento abaixo de toda a seção */
}

h2{
    text-align: center;
    color: #0A113F;
    font-size: 35px;
    height: 100px;
    clear: left;
}



#fundadores2{
    position: relative;
    display: flex; /* Habilita o flexbox */
    flex-direction: row; /* Alinha os itens em linha */
    justify-content: center; /* Centraliza os itens na horizontal */
    align-items: center; /* Alinha os itens no centro */
    gap: 150px;
    text-align: center; /*alinha os textos no centro*/
    font-size: 30px;
    margin-bottom: 100px; /* Adiciona espaçamento abaixo de toda a seção */
}










/*RODAPÉ*/
footer{
    position: relative;
    width: 100%;
    height: 500px ;
    background-color: #0A113F;
}