* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-color:#FFFAFA;
}

main {
    background-color:#6ea7e9;
}

/*Fontes usadas no Figma */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#cabecalho{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #0A113F;
}

#logo{
    position: relative;
    width: 250px;
    height: 120px;
    margin-top: -20px;
    margin-left: 5%;
    float: left;
}

#navegação_principal{
    position: relative;
    display: flex;
    
    width: 100%; /*alinhado de cima para baixo*/
}

#nav1, #nav2 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#nav2{
    padding-left: 38%; /*empurra o login e cadastro para a direita*/
}

 #nav1 a, #nav2 a{
    position: relative;
    color: #FFFAFA;
    text-decoration: none;
    font-size: 16px;

    line-height: 80px;
}

#nav1 a {
    
    margin-right:50px;
    margin-left: -36px;
}
    
#login a {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 15px;
    color: #FFFAFA;
    background: transparent;
}

#cadastro a{
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 15px;
    color:#0A113F;
    background: #92FF00;
}
