@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

:root {
  --cor-principal: #0A113F;
  --cor-fundo-clara: #FFFAFA;
  --cor-destaque: #92FF00;
  --fonte-poppins: "Poppins", sans-serif;
  --fonte-montserrat: "Montserrat", sans-serif;
}

body{
    background-color:var(--cor-fundo-clara);
    font-family: "Poppins", sans-serif;
}


#cabecalho{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #0A113F;
}

#logo{
    position: relative;
    width: 250px;
    height: 120px;
    margin-top: -20px;
    margin-left: 5%;
    float: left;
}

#navegação_principal{
    position: relative;
    display: flex;
    
    width: 100%; /*alinhado de cima para baixo*/
}

#nav1, #nav2 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#nav2{
    
    padding-left: 40%; /*empurra o login e cadastro para a direita*/
}

 #nav1 a, #nav2 a{
    position: relative;
    color: #FFFAFA;
    text-decoration: none;
    font-size: 16px;

    line-height: 80px;
}

#nav1 a {
    
    margin-right:50px;
    margin-left: -36px;
}
    
#login a {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 15px;
    color: #FFFAFA;
    background: transparent;
}

#cadastro a{
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 15px;
    color:#0A113F;
    background: #92FF00;
}

/* Texto inicial */

#texto_inicial{ 
    position: relative;
    margin: 140px 0px 0px 100px;
    color: #0A113F;
    font-family: "Montserrat", sans-serif;
}

p{
    width: 590px;
    height: 36px;

    color: #0A113F;
    text-align: justify;

    font-size: 25px;
    font-weight: 550;
    line-height: normal;
    margin-bottom: 10px;
} 

.texto1{
    width: 600px;
    height: 150px;
    margin-top: 20px;
    
}

h2{
    width: 700px;

    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight:750;
    margin-bottom:16px;
}

.destaque1{
  color: #FFFAFA;
  font-weight: bold;
  background-color: #0A113F;
}

.destaque2{
  color: #8AF101;
  font-weight: bold; /* deixa em negrito */
  background-color: #0A113F;
}

/*fundo inicial*/
.bolona{
    position: absolute;
    width: 950px;
    height: 1000px;
   
    background-color:#0A113F;
    border-radius: 50%;  /* deixa redondo */
    top: 200px;  
    left: 1000px;
    
    z-index: 1;
}

img{
    width: 900px;
    height: 700px;
    margin-left: 80px;
    margin-top: 30px;
}

button{
    width: 35%;
    height: 200px;
    /* colocar margem*/
}

#botao_inicio a{
    width: 600px;
    color: #FFFAFA;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    border-radius: 40px;
    text-decoration: none;
    background-color: #0f1a4a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#botao_inicio a:hover {
  background-color: #050e35;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.432);
}

.botao_icon {
  width: 120px;
  height: 90px;
  margin: 0.5rem;;
}


/*Seção Vestibulares */
.vestibular_quadrada img{
    position: relative;
    width: 100px;
    height: 100px;

    float: left;
}

.vestibular_retangular img{
    position: relative;
    width: 100px;
    height: 100px;

    float: left;
}

#secao_vestibular{
    position: relative;
    width: 100%;
    height:300px;
    background-color: #0A113F;
    z-index: 1;

    text-align: center;
}

#text_vest{
    color: #FFFAFA;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 111.538% */
}