* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

main {
    background-color: lightpink;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

#cabecalho{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #0A113F;
}

#logo{
    position: relative;
    width: 470px;
    height: 270px;
    margin-top: -80px;
    float: left;
}

#navegação_principal{
    display: flex;
    width: 100%;
    height: 30px;
}

#nav1, #nav2 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}


 #nav1 a, #nav2 a{
    position: relative;
    color: #FFFAFA;
    text-decoration: none;
    font-size: 20px;
}


#nav1 a {
    position: relative;
    margin-right:50px;
    margin-left: -36px;
}
    

#nav2 a {
    position: relative;
    margin-right: 20px;
}