* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

main {
    background-color:#FFFAFA;
}

/*Fontes usadas no Figma */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#cabecalho{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #0A113F;
}

#logo{
    position: relative;
    width: 250px;
    height: 120px;
    margin-top: -20px;
    margin-left: 90px;
    float: left;
}

#navegação_principal{
    position: relative;
    display: flex;
    
    width: 100%; /*alinhado de cima para baixo*/
}

#nav1, #nav2 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#nav2{
    padding-left: 150px; /*empurra o login e cadastro para a direita*/
}

 #nav1 a, #nav2 a{
    position: relative;
    color: #FFFAFA;
    text-decoration: none;
    font-size: 16px;

    line-height: 80px;
}

#nav1 a {
    
    margin-right:50px;
    margin-left: -36px;
}
    
#login a {
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 15px;
    color: #FFFAFA;
    background: transparent;
}

#cadastro a{
    position: relative;
    margin-right: 20px;
    text-align: center;
    display: inline;
    height: 40px;

    /*formato botão*/
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 15px;
    color:#0A113F;
    background: #92FF00;
}

/* Texto inicial */

#texto_inicial{ 
    position: relative;
    margin: 110px 0px 0px 100px;
    color: #0A113F;
    font-family: "Montserrat", sans-serif;
}

p{
    width: 590px;
    height: 36px;

    color: #0A113F;
    text-align: justify;

    font-size: 20px;
    font-weight: 550;
    line-height: normal;
    margin-bottom: 10px;
} 

.texto1{
    width: 400px;
    height: 194px;
    font-weight: 100;
    margin-top: 20px;
    font-size: 18px;
}

h2{
    width: 500px;

    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight:750;
    margin-bottom:16px;
}

.destaque1{
  color: #FFFAFA;
  font-weight: bold;
  background-color: #0A113F;
}

.destaque2{
  color: #8AF101;
  font-weight: bold; /* deixa em negrito */
  background-color: #0A113F;
}

/*fundo inicial*/
.bolona{
    position: absolute;
    width: 650px;
    height: 650px;
   
    background-color:#0A113F;
    border-radius: 50%;  /* deixa redondo */
    top: 150px;  
    left: 750px;
    
    z-index: 1;
}

img{
    width: 650px;
    height: 550px;
    margin:30px 3cqw 0px 60px;
}

#botao_inicio a{
    position: relative;
    align-items: center;
    width: 400px;
    height: 55px;

    /*formato botão*/
    border-radius: 15px;
    padding: 10px 1px;
    color:#FFFAFA;
    background:#0A113F;
    text-decoration: none;
    box-shadow: 10px 7px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  
    gap: 10px;
}

.logo{
    width: 30px;
    height: 30px;

}